__pycache__/
myenv/

# Archivos sensibles
.env
credencialesbq.json
data-warehouse-311917-73a0792225c7.json

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Logs y archivos temporales
*.log
*.tmp
*.bak

# Archivos de salida/exportación
*.csv
*.xlsx

# Metadata de paquetes
*.egg-info/

# Configs de IDEs
.vscode/
.idea/

*.json

