# ======================
# Entorno Python
# ======================
venv/
myenv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
*.coverage
.cache/
.mypy_cache/
.dmypy.json
.pyre/

# ======================
# Configuración local
# ======================
.env
.env.*
!*.env.example

# ======================
# Credenciales y secretos
# ======================
credenciales/
*.json
*.pem
*.key

# ======================
# Archivos temporales
# ======================
.DS_Store
*.log
*.tmp
*.swp

# ======================
# IDEs
# ======================
.vscode/
.idea/



notas.txt